*{
    padding:0;
    marging:0;
}

.container {
    width: 1300px;
    height: auto;
}

.pokeimgs {
    width: 1000px;
    height: 1600px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.redbox {
    width: 260px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
    border:10px solid red;
    margin-top: 15px;
}

.pokeinfo {
    width: 220px;
    height: 500x;
    display: inline-block;
    margin-left:25px;

}
