<hr>
<div class="login">

    <form asp-action="Login" method="post">
        <label for="Email">Email:</label>
        <input name="Email"><br/>

        <label for="PasswordToCheck">Password:</label>
        <input type="password" name="PasswordToCheck"><br/>

        <input type="submit" value="Login">

        <a href="/">Need to Register?</a>
    </form>
</div>
