<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/quotes" method="POST">
    <p>Your Name:</p><input type="text" name="name">
    <p>Your quote:</p><input type="text" name="quote">
    
    <input type="submit" name="one" value="Add my quote!">
    <input type="submit" name="two" value="Skip to quotes">
    </form>
</body>
</html>