<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><u>Add a New Trail</u></h1>

    <form action="/add" method="post">
    Trail Name: <input type="text" name="name"><br>
    Description: <textarea name="description" cols="30" rows="10"></textarea><br>
    Trail Length: <input type="text" name="length"><br>
    Elevation Change: <input type="text" name="change"><br>
    Longitude & Latitude: <input type="text" name="longitude"> <input type="latitude"><br>
    <input type="submit" value="Create Record!">
    </form>
</body>
</html>