<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Projects</title>
        <link rel="stylesheet" href="~/CSS/style1.css"/>
    </head>
    <body>
        <div class="head">
            <a>Home</a><span> | </span><a>Project</a><span> | </span><a>Contact</a>
        </div>
        

        <div class="container">
            <h1>Here are some projects of mine</h1>
        
            <div class="projects">
                <p>Let's take our previous Portfolio assignment, and integrate our ability to return Views and include static files such as CSS, JS, or IMGs. These views will be a home page that is mostly personal information, a projects page that lists various projects you have worked on, and a contact page with a form where people visiting your website can send you information. </p>
            </div>

        </div>
    </body>
</html>
