<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1>Cats</h1>
    <form action="/click" method="post">
    <a href="/cat1"><img src="images/cat1.jpg" name="cat1" alt=""></a>
    <a href="/cat2"><img src="images/cat2.jpg" name="cat1" alt=""></a>
    <a href="/cat3"><img src="images/cat3.jpg" name="cat1" alt=""></a>
    </form>
</body>
</html>