<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <style>
    body {
        text-align: center;
    }
    </style>
</head>
<body>
    <div class="msg"></div>
    <p>Push the button to update the count!</p>
    <button>Push the epic button</button>
    <button>Reset count</button>

    <script>
        $(document).ready (function(){
            var socket = io.connect();
            
            socket.on('msg', function(message){
                $('.msg').html(`<h1>The button has been pushed ${count} time(s)</h1>`)
            });
        
    </script>

</body>
</html>