* {
    padding: 5px;
    margin:5px;
}
h1 {
    text-align: center;
    color:rgb(64, 126, 201);
}

.head {
    text-align: center;
    width: 700px;
}

.container {
    width: 800px;
    vertical-align: top;
}

.project {
    border: 1px solid grey;
    width:600px;
    height: 200px;
    overflow: auto;
}