*{
    padding:5px;
    margin:2px;
    font-size: 18px;
}

.form {
    width: 380px;
    height: 400px;
    border: 1px solid black;
}

#submit {
    background-color: rgba(0, 14, 174, 0.975);
    color:white;
    margin-left:220px;
}