<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <style>
            #chatBox {
                width:500px;
                height: 300px;
                border: 1px solid rgb(115, 115, 121);
                overflow: scroll;
                background-color:antiquewhite;
            }

        input[type=submit] {
            background-color: rgb(237, 202, 62);
            border-radius: 5px;
            font-size: 12px;
        }
        
    </style>
</head>
<body>
    <div id="chatBox">
    </div>
    <form id="register_form">
        <p>Name: <input type="text" id="name"></p>
        <input type="submit" value="Join Room">
    </form>

    <form hidden id="message_form">
        <p>Msg: <input type="text" id='msg'></p>
        <input type="submit" value="Send Message">

    </form>

    <script>
    $(document).ready (function(){
        var socket = io.connect();
        socket.on('msg',function(msgData){
            $('#chatBox').append(`<p> ${msgData.msg} </p>`);
        });

        $('#register_form').submit(function(e){
            e.preventDefault();
            var username = {
                name: $('#name').val()
            }
            socket.emit('registerUser', username);
            $('#register_form').hide();
            $('#message_form').show();
        })

        $('#message_form').submit(function(e){
            e.preventDefault();
            var message = {
                message_text: $('#msg').val()
            };
            $('#msg').val('');
            socket.emit('msg',message);
        });
    });
    </script>

</body>
</html>